@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #121212; 
    border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.red {
    background-image: linear-gradient(to right, #ED213A, #93291E);
}
.blue {
    background-image: linear-gradient(to right, #373B44, #4286f4);
}
.green{
    background-image: linear-gradient(to right, #000000, #0f9b0f);
}
.teal {
    background-image: linear-gradient(to right, #1D976C, #93F9B9);
}
.purple {
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}
.orange {
    background-image: linear-gradient(to right, #f12711, #f5af19);
}
.pink{
    background-image: linear-gradient(to right, #f953c6, #b91d73);
}

.red2 {
    background: linear-gradient(to bottom, #dd1818, #121212);
}
.blue2 {
    background: linear-gradient(to bottom, #2c3e50, #121212);
}
.green2 {
    background: linear-gradient(to bottom, #3CA55C, #121212);
}
.teal2 {
    background: linear-gradient(to bottom, #434343, #121212);
}
.purple2 {
    background: linear-gradient(to bottom, #3c1053, #121212);
}